# Primary Database
DB_PRIMARY_SERVER=primary-server.com
DB_PRIMARY_DATABASE=primary_db
DB_PRIMARY_USERNAME=user1
DB_PRIMARY_PASSWORD=password1
DB_PRIMARY_PORT=1433
DB_PRIMARY_TRUSTED_CONNECTION=false

# Secondary Database
DB_SECONDARY_SERVER=secondary-server.com
DB_SECONDARY_DATABASE=secondary_db
DB_SECONDARY_USERNAME=user2
DB_SECONDARY_PASSWORD=password2
DB_SECONDARY_PORT=1433
DB_SECONDARY_TRUSTED_CONNECTION=false

# Analytics Database
DB_ANALYTICS_SERVER=analytics-server.com
DB_ANALYTICS_DATABASE=analytics_db
DB_ANALYTICS_USERNAME=analytics_user
DB_ANALYTICS_PASSWORD=analytics_password
DB_ANALYTICS_PORT=1433
DB_ANALYTICS_TRUSTED_CONNECTION=false

# Reporting Database
DB_REPORTING_SERVER=reporting-server.com
DB_REPORTING_DATABASE=reporting_db
DB_REPORTING_USERNAME=reporting_user
DB_REPORTING_PASSWORD=reporting_password
DB_REPORTING_PORT=1433
DB_REPORTING_TRUSTED_CONNECTION=true
